<h1>About Us</h1>

<body>
    <div id="page">
      <div id="content">
        <div id="getting-started">
          <p>This CoreDB is created for internal use by NYU ITS/ECOMS department. It will have limited support.</p>
          <p>Created By: Anubhav Agarwal</p>
          <p>Email:- aa3329@students.poly.edu</p>
        </div>
      </div>
